* {
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
  }
.container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  
.lead {
    font-size: 1.5rem;
  }
  
.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100px;
    background: rgba(50, 53, 56, 0.7);
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
  }
  
  .navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
  }
  
  .navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
  }
  
  .navbar ul li a:hover {
    color: skyblue;
  }
  
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
   
    /* Scroll Snap */
    scroll-snap-align: center;
  }
  
section h1 {
    font-size: 4rem;
  }


/*section part*/
section#home {
    background:url(images/home-background/4.jpg);
    background-repeat:no-repeat;
    background-size: auto 100%;
    background-size:cover;
  }
.arrow{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

/*other pages css*/
section#about {
    background-color:AliceBlue;
  }
  
section#service {
    background-color:CornflowerBlue;
  }
section#contact {
    background: FloralWhite;
  }

input {
  display: inline-block;
  font-size: 40px;
  font-family: Anton;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  padding-left: 20px;
  border-right: none;
}
button{
  display: inline-block;
  font-size: 40px;
  width: 160px;
  font-family: Anton; 
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #8E8DBE;
  border-left: none;
  cursor: pointer;
}
#navbar{
  font-size: 100px;
  font-family: Anton;
}


  
