body {
    background-color: black;

 }

/*header*/

.menu-header {
    display:flex;
    justify-content:center;

}
.menu a{
    align-content: space-evenly;
    padding: 10px;
    text-decoration:none;
    font-weight: bold;
    font-size: large;
    color:white;
    font-family: Arial, Helvetica, sans-serif;

}


/*main*/
h1{
    color:white;
    font-family:Helvetica,Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-align:center;
    font-size: 400%;
    
}
h2{
   color:white;
   font-family:Arial, Helvetica, sans-serif;
   font-weight: normal;
   text-align:center;
   font-size: 200%;
}

/*footer*/